@import "tailwindcss";

@theme {
    --color-primary: #1565C0;
    --color-secondary: #64B5F6;
    --color-accent: #263238;
    --font-sans: 'Inter', sans-serif;
}

@layer base {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    body {
        @apply antialiased text-gray-900 bg-white;
    }
}